build/disk.img
build/os.img
build/obj
build/release/booter-ipl.bin
build/release/booter-main.bin
build/release/kernel
build/release/libMk.a
build/release/tool/*
doxygen/booter
doxygen/kernel
doxygen/lib
doxygen/tool
doxygen/log
*.o
*.a
tags
!.gitkeep
