build/disk.img
build/os.img
build/obj
doxygen/booter
doxygen/kernel
doxygen/lib
doxygen/tool
doxygen/log
release/booter/booter-ipl.bin
release/booter/booter-main.bin
release/kernel/kernel
release/lib/libMk.a
release/tool/*
vm/vmware/*
*.o
*.a
tags
!.gitkeep
